<div id="footer-content">
    <div class="social-icons">
        <div>
            <a href="/feed.xml">
                <i class="las la-rss"></i>
            </a>
        </div>
        <div>
            <a href="mailto:{{ metadata.email }}">
                <i class="las la-envelope"></i>
            </a>
        </div>
        <div>
            <a href="https://fosstodon.org/web/accounts/106320318549156649">
                <i class="lab la-mastodon"></i>
            </a>
        </div>
        <div>
            <a href="https://twitter.com/iaspriyanshu">
                <i class="lab la-twitter"></i>
            </a>
        </div>
        <div>
            <a href="https://github.com/prirai">
                <i class="lab la-github"></i>
            </a>
        </div>
        <div>
            <a href="https://gitlab.com/prirai">
                <i class="lab la-gitlab"></i>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/prirai/">
                <i class="lab la-linkedin"></i>
            </a>
        </div>
        <div>
            <a href="https://reddit.com/u/PriRai">
                <i class="lab la-reddit"></i>
            </a>
        </div>
        <div>
            <a href="https://t.me/prirai">
                <i class="lab la-telegram"></i>
            </a>
        </div>
        <div>
            <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xB61BCA5D7D24AD99">
                <i class="las la-fingerprint"></i>
            </a>
        </div>
    </div>
    <div class="social-icons" style="flex-wrap: nowrap;">
        <div>
            <a href="https://gnulinuxindia.org/direct.html?name=prirai&dir=prev">↩ </a>
        </div>
        <div>
            <a href="https://gnulinuxindia.org/members.html/"><img src="https://gnulinuxindia.org/images/gliicon_cropped.png" alt="GLI WEBRING" width="50" height="30"></a>
        </div>
        <div>
            <a href="https://gnulinuxindia.org/direct.html?name=prirai&dir=next"> ↪</a>
        </div>
    </div>
    <div style="text-decoration: underline;">
    Have fun and explore
    <br>
    <div style="width: 100; text-align: center;">
    <a href="https://github.com/prirai/prirai.github.io"><i class="lab la-git"></i></a></div>
    </div>
</div>