<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="canonical" href="{{ page.url }}"/>
        <meta name="robots" content="index, follow"/>
        <meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
        <meta property="og:url" content="{{ page.url }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="/assets/img/mylogo.png"/>
        <meta property="og:type" content="article"/>
        <link rel="shortcut icon" type="image/jpg" href="/assets/img/mylogo.png"/>
        <link rel="stylesheet" href="{{ '/assets/style/style.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/fonts.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/prism-okadia.css' | url }}">
        <link rel="stylesheet" href="{{ '/icons/line-awesome/css/line-awesome.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
        <script defer src="{{ '/assets/js/theme.js' }}"></script>
    </head>
    <body>
        {# <header>
            <a id="themeButton" href="#" class="item"><i class="las la-palette"></i> Theme</a>
        </header> #}
        {# <main {% if templateClass %} class="{{ templateClass }}" {% endif %}> #}
            <h1>{{title}}</h1>
            <div class="navigate-post">
                <a href="../"><div><i class="la la-backspace"></i>Back</div></a>
                </div>
            {{ content | safe }}
        {# </main> #}
    </body>
</html>
