<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="canonical" href="{{ page.url }}"/>
        <link rel="stylesheet" href="{{ '/assets/style/normalize.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/typebase.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/style.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/fonts.css' | url }}">
        <link rel="stylesheet" href="{{ '/assets/style/prism-okadia.css' | url }}">
        <link rel="stylesheet" href="{{ '/icons/line-awesome/css/line-awesome.css' | url }}">
        <meta name="robots" content="index, follow"/>
        <meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="article"/>
    </head>
    <body>
    <header>
            <a class="item" href="/">
                <i class="las la-home"></i>
                <p>Home</p></a>
            <a class="item" href="/blog/">
                <i class="las la-pen-alt"></i>
                <p>Blogs</p></a>
            <a class="item" href="/books/">
                <i class="las la-book"></i>
                <p>Books</p></a>
            <a class="item" href="/newtab/">
                <i class="las la-plus"></i>
                <p>NewTab</p></a>
            <a class="item" href="/rsrc/">
                <i class="las la-book-open"></i>
                <p>rsrc</p></a>
        </header>
        <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
            <h1>{{ title }}</h1>
            <aside>
                <h2>Table of Contents</h2>
                {{ content | toc | safe }}
            </aside>
            {{ content | safe }}
            
        </main>
    </body>
</html>
