---
layout: layouts/home.njk
title: ⤘ 404
---

<h1>Not found</h1>
<hr>
    <div class="p-space-10"></div>
    <p style="text-align: center; font-size: 100px;">404</p>
    <p>It seems you&apos;re lost or the resource you were looking for might have been moved somewhere else. Looks like you
        accidentally came here. Please report this to me.</p>
</main>