---
layout: layouts/base.njk
title: 🔍 Search
tags: main
---

<h1>🔍 Search</h1>
<div class="search-grp">
    <form method="get" action="https://annas-archive.org/search">
        <input name="q" placeholder="Anna's Archive" title="Search on Anna's Archive" type="text" autocomplete="off"/>
    </form>
    <form method="get" action="https://kagi.com/search">
        <input name="q" placeholder="Search Kagi" title="Search on Kagi.com" type="text" autocomplete="off"/>
    </form>
    <form method="get" action="https://search.disroot.org">
        <input id="q" name="q" placeholder="Meta Search by Searx" autocomplete="off" accesskey="s"/>
    </form>
    <form method="get" action="https://duckduckgo.com">
        <input maxlength="2048" name="q" type="text" title="Search" placeholder="Search DuckDuckGo" autocomplete="off"/>
    </form>
    <form method="get" action="https://you.com/search?q=jquery">
        <input name="q" placeholder="Search you (all's code)" title="Search on you.com" type="text" autocomplete="off"/>
    </form>
    <form method="get" action="https://search.brave.com/search">
        <input maxlength="2048" name="q" type="text" title="Search" placeholder="Search Brave" autocomplete="off"/>
    </form>
    <form method="get" action="https://www.mojeek.com/search">
        <input maxlength="2048" name="q" type="text" title="Search" placeholder="Search Mojeek" autocomplete="off"/>
    </form>
    <form method="get" action="https://www.bing.com/search">
        <input name="q" placeholder="Search Bing" title="Search on bing.com" type="text" autocomplete="off"/>
    </form>
    <form method="get" action="https://www.google.com/search">
        <input name="q" type="text" title="Search on google.com" placeholder="Search Google" autocomplete="off"/>
    </form>
    <h1>Find a research paper. 🔬️</h1>
    <strong>Step 1:
        <p>Search for a research paper and enter the title of the research paper here. Look for the doi link in this page.</p>
    </strong>
    <form method="get" action="https://scholar.google.com/scholar">
        <input name="q" type="text" title="Google Scholar" placeholder="Stand on the shoulders of giants" autocomplete="off"/>
    </form>
    <strong>Step 2:
        <p>Paste the doi link you got from the above search here.
        </p>
    </strong>
    <em>Fingers crossed!</em>🤞️
    <form method="post" action="https://sci-hub.st/">
        <input id="sci-hub-plugin-check" type="hidden" name="sci-hub-plugin-check" autocomplete="off"/>
        <input type="textbox" name="request" placeholder="enter URL, PMID / DOI or search string"></form>
        <h1>Misc</h1>
        <form method="get" action="https://www.urbandictionary.com/define.php">
            <input name="term" placeholder="Search for slangs" type="text" autocomplete="off"/>
        </form>
    </div>

    <!-- I want to do the same thing as above but by providing only a single search box and providing buttons for each of the search site mentioned above. -->
<!-- So, there will be a single search box and a button for each of the search site mentioned above. The user types in the search query and presses one of the search engine options-->


