---
layout: layouts/home.njk
title: IISERB
tags:
    - rsrc
---

<link rel="stylesheet" href="{{ '/assets/style/time-table.css' | url }}">
<div class="logo"><img src="/assets/img/iiserblogo.png">
</div>
<h1>IISERB</h1>
<h2>Timetable</h2>
<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>10:00 - 10:55</th>
            <th>11:00 - 11:55</th>
            <th>12:00 - 12:55</th>
            <th>14:00 - 14:55</th>
            <th>17:30 - 18:55</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monday</td>
            <td class="non"></td>
            <td class="c322">ECS322</td>
            <td colspan="2" class="non"></td>
            <td class="c308">ECS308</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td class="c322">ECS322</td>
            <td class="c310">ECS310</td>
            <td class="c326" rowspan="3">ECS326</td>
            <td colspan="2" class="non"></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td class="non"></td>
            <td class="c322">ECS322</td>
            <td colspan="2" class="non"></td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td rowspan="2" class="non"></td>
            <td class="c310">ECS310</td>
            <td class="non"></td>
            <td class="c308">ECS308</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td colspan="3" class="non"></td>
            <td class="c310">ECS310</td>
            <td class="non"></td>
        </tr>
    </tbody>
</table>
<h2>Courses</h2>
<h3>2022-2023-1</h3>
<table>
    <thead>
        <tr>
            <th>Course No</th>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Course Instructors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ECS301</td>
            <td>Principles of Communications</td>
            <td>4</td>
            <td>Ankur Raina</td>
        </tr>
        <tr>
            <td>ECS307X</td>
            <td>Theory of Computation</td>
            <td>4</td>
            <td>Sujoy Bhore</td>
        </tr>
        <tr>
            <td>ECS321</td>
            <td>Electronic Devices</td>
            <td>4</td>
            <td>Mitradip Bhattacharjee</td>
        </tr>
        <tr>
            <td>ECS323</td>
            <td>Control Systems</td>
            <td>4</td>
            <td>Aditya Sankar Medury</td>
        </tr>
        <tr>
            <td>ECS325</td>
            <td>Analog Circuits</td>
            <td>4</td>
            <td>Kuntal Roy</td>
        </tr>
        <tr>
            <td>ECS327</td>
            <td>EECS Laboratory I</td>
            <td>1</td>
            <td>Kundan Kandhway</td>
        </tr>
        <tr>
            <td>ECS335</td>
            <td>Introduction to Process Mining</td>
            <td>4</td>
            <td>Arpit Sharma</td>
        </tr>
    </tbody>
</table>
<h3>2022-2023-2</h3>
<table>
    <thead>
        <tr>
            <th>Course No</th>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Course Instructors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ECS308</td>
            <td>Data Science and Machine Learning</td>
            <td>4</td>
            <td>Tanmay Basu</td>
        </tr>
        <tr>
            <td>ECS310</td>
            <td>Algorithms</td>
            <td>4</td>
            <td>Pawan Kumar</td>
        </tr>
        <tr>
            <td>ECS322</td>
            <td>Electromagnetic Theory</td>
            <td>4</td>
            <td>Pydi Ganga</td>
        </tr>
        <tr>
            <td>ECS326</td>
            <td>Digital Circuits and Systems</td>
            <td>4</td>
            <td>Santanu Talukder</td>
        </tr>
    </tbody>
</table>