---
layout: layouts/home.njk
title: 🏠 Home
tags: main
---

<h1>Priyanshu Rai</h1>
<hr> <img src="https://imgs.xkcd.com/comics/security.png">
<div style="text-align: end;">From -
    <a href="https://xkcd.com/538/">XKCD - 538</a>
</div>
<p>
    <div class="alist">
        <a href="games/squidgame">Play SquidGame! Red Light Green Light.</a><br><a href="map3d">3d Earth</a><br><a href="rsrc/list-of-learning">List of Learning</a><br><a href="rsrc/comp-coding-sites">Competitive Coding Sites</a><br><a href="rsrc/awsm-gh-repos">Some awesome GitHub repositories</a><br><a href="books/unix-koans">The UNIX Koans - Eric S. Raymond</a><br><a href="https://github.com/prirai/prirai.github.io">This website is on github</a><br></div>
</p>
<h2>About</h2>
<p>
    Hi, I'm an undergrad at IISER Bhopal pursuing a 4-year Bachelor program in EECS. I wish to attend the Defcon atleast
    once in my lifetime.
</p>